.card{
    width: 30%;
    margin-left: 3%;
    border: 1px;
}


li {

    list-style-type: none; /* Убираем маркеры */
}
@charset "utf-8";

a{
    text-decoration: none;
}
a.active{
    text-decoration: underline;
}